* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

text-shadow, .homepage__heading h1 {
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25); }

box-shadow, .date-guest__box, .homepage__input--btn, .card, .search-btn, .book-btn {
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25); }

#homepage, #accommodation-options, #accommodation-details, #booking-confirmation {
  height: 100vh;
  background-position: center;
  background-size: cover; }

#homepage {
  background-image: url("../images/backgrounds/homepage.jpg"); }

#accommodation-options {
  background-image: url("../images/backgrounds/booking-page.jpg"); }

#accommodation-details {
  background-image: url("../images/backgrounds/details-page.jpg");
  height: 100%; }

#booking-confirmation {
  background-image: url("../images/backgrounds/confirmation-page.jpg"); }

body {
  font-family: "Montserrat", "sans-serif"; }

.homepage__heading {
  padding-top: 250px;
  font-family: 'Bebas Neue', 'cursive'; }
  .homepage__heading h1 {
    font-size: 4.5vw;
    letter-spacing: 3px; }

.date-guest__box {
  background: rgba(0, 0, 0, 0.25);
  color: white;
  width: 60%;
  margin: 0 auto;
  font-size: 0.75vw; }

.date-container, .date-container__subcontainer {
  width: 50%;
  float: left; }

.date-container, guest-container {
  padding: 20px 10px; }

.homepage__input--btn {
  background: white;
  border-radius: 5px;
  height: 50px;
  width: 180px;
  cursor: pointer; }

.calender__icon, .guest__icon {
  float: left; }

.calender__date, .guest__dropdown {
  float: right; }

.guest-container {
  width: 25%;
  float: right; }

.accommodation-options__container {
  width: 60%;
  margin: 0 auto;
  padding-top: 75px; }

.card {
  border: none;
  border-radius: 5px;
  width: 23rem;
  height: 250px;
  float: left; }

.card-body {
  background-image: url("../images/accommodation/hostel-1.jpg");
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 165px 0 0 0; }

.card-textbox {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 85px;
  padding: 5px; }

.card-title {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: .25rem; }

.card-text {
  font-size: 10px;
  margin-bottom: .5rem; }

.details-btn__container {
  float: left; }

.price-textbox {
  float: right;
  font-weight: 500; }

.accommodation-details__container {
  width: 90%;
  margin: 0 auto;
  padding-top: 75px; }

.accommodation-details__subcontainer--left {
  float: left;
  width: 58%;
  color: white; }

.accommodation-details__subcontainer--description {
  background: rgba(0, 0, 0, 0.8); }

.accommodation-details__subcontainer--facilities {
  background: rgba(0, 0, 0, 0.8);
  height: 150px; }

.accommodation-details__subcontainer--right {
  float: right;
  width: 40%; }

.accommodation-details__subcontainer--images {
  height: 300px; }
  .accommodation-details__subcontainer--images img {
    width: 100%;
    height: 100%; }

.facility-icon {
  width: 12.5%;
  float: left; }

.booking-summary__container {
  background: white; }

.summary-item {
  float: left; }

.search-btn {
  margin: auto;
  margin-top: 25px;
  color: white;
  background: #F2B999;
  width: 180px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  padding-top: 15px;
  cursor: pointer; }

.back-btn {
  color: white;
  text-decoration: underline;
  font-weight: 600;
  font-size: 10px;
  cursor: pointer; }

#details-btn {
  color: white;
  background: #F2B999;
  width: 60px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 9px;
  padding-top: 5px;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border: none; }

.book-btn {
  float: right;
  background: #45718C;
  color: white;
  width: 40%;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  padding-top: 16px;
  cursor: pointer; }

.tourism__logo img {
  width: 6%;
  position: absolute;
  top: 665px;
  left: 15px; }

.pure-nz__logo img {
  width: 10%;
  position: absolute;
  top: 680px;
  right: 15px; }

/*# sourceMappingURL=style.css.map */
