$primary : #04ADBF;
$secondary : #04BFBF;
// $info :;
// $danger : ;
$warning : #A0A603 ;
$light: #F2E0C9 ;
$dark: #025959;
// $jumbotron-bg : ; //jumbotron background
$display1-size : 5rem;
$display2-size : 4rem;
$display3-size : 3rem;
$display4-size : 2rem;
$headings-font-family : "Georgia";
$spacer: 2rem !default; //margin and padding overall spacing size



// Custom.scss
// Option A: Include all of Bootstrap

@import "../bootstrap-4.5.3/scss/bootstrap.scss";

body{
  background-color: linear-gradient(to right, #04ADC0 0%, 32.892414927482605%, #A1A603 65.78482985496521%, 82.8924149274826%, #F2E0C8 100%);

}

  #right-panel {
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
  }

  #right-panel select,
  #right-panel input {
    font-size: 15px;
  }

  #right-panel select {
    width: 100%;
  }

  #right-panel i {
    font-size: 12px;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #map {
    height: 100%;
    float: left;
    width: 70%;
    height: 100%;
  }

  #right-panel {
    margin: 20px;
    border-width: 2px;
    width: 20%;
    height: 400px;
    float: left;
    text-align: left;
    padding-top: 0;
  }

  #directions-panel {
    margin-top: 10px;
    background-color: #ffee77;
    padding: 10px;
    overflow: scroll;
    height: 174px;
  }
