// COLORS
$primary-color: #F2B999;
$secondary-color: #45718C;

// FONTS
$primary-font: 'Montserrat', 'sans-serif';

// INHERITENCE
text-shadow {
  text-shadow: 2px 4px 4px rgba(0,0,0,0.25);
}
box-shadow {
  box-shadow: 2px 4px 4px 0px rgba(0,0,0,0.25);
}

// BACKGROUND IMAGES
#homepage, #accommodation-options, #accommodation-details, #booking-confirmation {
  height: 100vh;
  background-position: center;
  background-size: cover;
}
#homepage {
  background-image:url("../images/backgrounds/homepage.jpg");
}
#accommodation-options {
  background-image:url("../images/backgrounds/booking-page.jpg");
}
#accommodation-details {
  background-image:url("../images/backgrounds/details-page.jpg");
  height: 100%;
}
#booking-confirmation {
  background-image:url("../images/backgrounds/confirmation-page.jpg");
}

body {
  font-family: $primary-font;
}

// HOMEPAGE
.homepage__heading {
  padding-top: 15.6em;
  font-family: 'Bebas Neue', 'cursive';
  h1 {
    font-size: 4.5vw;
    letter-spacing: 3px;
    @extend text-shadow
  }
}

.date-guest__box {
  background: rgba(0,0,0,0.35);
  width: 60%;
  @extend box-shadow;
  font-size: 0.75vw;
}

.homepage__input {
  height: 50px;
  @extend box-shadow;
  width: 85%;
}

.homepage__input--btn  {
  height: 50px;
  cursor: pointer;
}

.guest__icon {
  height: 50px;
}

// ACCOMMODATION OPTIONS PAGE
.accommodation-options__container {
  width: 60%;
  padding-top: 4.6em;
}

.card {
  @extend box-shadow;
  overflow: hidden;
}

#bgImg1 {
  background-image:url("../images/accommodation/hostel-1.jpg");
}

#bgImg2 {
  background-image:url("../images/accommodation/motel-2-4.jpg");
}

#bgImg3 {
  background-image:url("../images/accommodation/hotel-1-2.jpg");
}

#bgImg4 {
  background-image:url("../images/accommodation/house-1-4.jpg");
}

.card-body {
  // background-image:url("../images/accommodation/hostel-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 225px 0 0 0;
  height: 35vh;
}

.card-textbox {
  background: rgba(0,0,0,0.7);
  height: 110px;
}

.card-title {
  font-weight: 600;
  margin-bottom: .25rem;
}

.card-text {
  font-size: .8em;
  margin-bottom: .9rem;
}

.price-textbox {
  font-weight: 600;
  font-size: 1.2rem;
}


// ACCOMMODATION DETAILS
.accommodation-details__container {
  width: 70%;
  padding-top: 4.6em;
}

.accommodation-details__subcontainer--left {
  width: 55%;
}

.accommodation-details__subcontainer--description {
  background: rgba(0,0,0,0.8);
}
.accommodation-details__subcontainer--facilities {
  background: rgba(0,0,0,0.8);
  height: 150px;
}

.accommodation-details__subcontainer--right {
  width: 45%;
}

.accommodation-details__subcontainer--images {
  height: 300px;
}

.facility-icon {
  width: 12.5%;
  float: left;
  img {
    width: 35%;
  }
  p {
    font-size: .7rem;
  }
}

// GOOGLE MAPS API
#map {
  width: 600px;
  height: 450px;
}


.booking-summary {
  height: 190px;
}

.summary-item__left {
  width: 18.33%
}

.booking-summary__subcontainer--summary {
  width: 20%
}


// BOOKING CONFIRMATION

#booking-confirmation {
  padding-top: 10.6em;

}

.booking-confirmation__container {
  width: 60%;
  background: rgba(0,0,0,0.8);
  @extend box-shadow;
  padding-top: 25px
}

#emailInput {
  height: 50px;
}

// CUSTOM BUTTONS
.search-btn {
  margin: auto;
  background: $primary-color;
  width: 15%;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  @extend box-shadow;
  cursor: pointer;
}

.back-btn {
  color: white;
  text-decoration: underline;
  font-weight: 600;
  font-size: 10px;
  cursor: pointer;
}

.details-btn {
  background: $primary-color;
  width: 120%;
  height: 30px;
  font-weight: 500;
  font-size: .7rem;
  padding-top: 6.5px;
  box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.25);
  cursor: pointer;
  border: none;
}

.book-btn {
  background: $secondary-color;
  width: 40%;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  padding-top: 16px;
  @extend box-shadow;
  cursor: pointer;
  :hover {
    background-color: $secondary-color;
  }
}

.send-btn {
  background: $primary-color;
  width: 8.33%;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  padding-top: 15px;
  @extend box-shadow;
  cursor: pointer;
}

#other-booking {
  background: $secondary-color;
  width: 33.33%;
  height: 50px;
  font-weight: 600;
  font-size: 14px;
  padding-top: 16px;
  @extend box-shadow;
  cursor: pointer;
}

// FOOTER
.tourism__logo img {
  width: 6%;
  position: absolute;
  bottom: 20px;
  left: 15px;
}

.pure-nz__logo img {
  width: 10%;
  position: absolute;
  bottom: 20px;
  right: 15px;
}









// FONTS
// @font-face {
//   font-family: 'Milliard';
//   src: url('Milliard-Black.woff2') format('woff2'),
//       url('Milliard-Black.woff') format('woff');
//   font-weight: 900;
//   font-style: normal;
//   font-display: swap;
// }
// $main-font: 'Poppins', sans-serif;
// $book-font: 'Rambla', sans-serif;
